/* Light mode */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333; /* Hintergrundfarbe der Navbar */
    padding: 10px; /* Innenabstand der Navbar */
    margin-bottom: 20px; /* Abstand unterhalb der Navbar */
}

.nav-item {
    display: inline-block; /* Elemente nebeneinander anordnen */
    margin-right: 10px; /* Abstand zwischen den Elementen */
}

.nav-link {
    color: #fff; /* Farbe der Links */
    text-decoration: none; /* Keine Unterstreichung */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #fff;
    }

    .navbar {
        background-color: #444; /* Hintergrundfarbe der Navbar im Dark Mode */
    }

    .nav-link {
        color: #fff; /* Farbe der Links im Dark Mode */
    }
}
